@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-lato {
 font-family: "Open Sans", sans-serif;
 font-optical-sizing: auto;

}


/* common styles */
main {
 max-width: 1440px;
 margin: 0 auto;
}

main>section {
 padding: 100px 0;
}




.bg-light {
 background-color: rgba(229, 84, 115, 0.1);
}

.display-flex {
 display: flex;
}

.btn-primary {
 background-color: #E55473;
 padding: 20px 43px;
 color: #FFFFFF;
 font-size: 1.25rem;
 font-weight: bold;
 border: none;
 border-radius: 8px;
}


.common-title {
 font-size: 3rem;
 font-weight: bolder;
 color: #272727;
}

.common-description {
 font-size: 1rem;
 font-weight: 400;
 color: rgba(39, 39, 39, 0.6);
 padding-bottom: 20px;
}




/* navigation bar styles */
.nav-bar {
 max-width: 1440px;
 margin: 0 auto;
 justify-content: space-between;
 align-items: center;

}

.nav-title {
 font-size: 3.5rem;
 font-weight: bolder;
}

.shop-color {
 color: #E55473;
}

.nav-link li {
 list-style: none;
 margin-right: 45px;
 font-size: 1.25rem;
 font-weight: bold;
}

.nav-link li a {
 text-decoration: none;
}

/* header banner styles */
.header-banner {
 max-width: 1440px;

 margin: 0 auto;
}

.banner-container {
 align-items: center;
 gap: 97px;

}

.banner-contant {

 width: 50%;
}

.banner-img img {
 width: 100%;

}

.banner-title {
 font-size: 4rem;
 font-weight: bolder;
}



/* featured sections styles */
.featured-section {
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
}

.featured-img {
 justify-content: space-around;
 gap: 1.25rem;
 width: 100%;

}

.featured-img img {
 width: 100%;
 height: 100%;
}

.featured-flower-1 {

 border-radius: 450px 450px 0 0;
 background-color: rgba(229, 84, 115, 0.1);
 padding: 110px 78px 0 78px;

}

.featured-flower-2 {
 border-radius: 450px 450px 0 0;
 background-color: rgba(5, 151, 160, 0.15);
 padding: 110px 78px 0 78px;
}

.featured-flower-3 {
 border-radius: 450px 450px 0 0;
 background-color: rgba(71, 125, 17, 0.15);
 padding: 110px 78px 0 78px;
}

.featured-ancor {
 padding-top: 32px;
}

.featured-ancor a {
 font-size: 1.25rem;
 font-weight: bold;

 color: rgba(77, 41, 41, 1);
}

/* delivary-container styles */
.delivary-container {
 background-color: rgba(39, 39, 39, 0.05);
 max-width: 1440px;
 height: 320px;
 justify-content: space-evenly;
 align-items: center;
 text-align: center;
}

.delivary-info {
 font-size: 1.25rem;
 font-weight: 700;
 color: rgba(39, 39, 39, 0.8);
}